
.header-main-taxt{
    font-size: 144px;
    text-align: center;
    /* color: white; */
}

.nav-logo-text{
    list-style: none;
    display: flex;
}

.Cbg-dark{
    background-color: #42444B;
}


/* Font Selector */
.fm-electrolize{
    font-family: 'Electrolize', sans-serif;
}


/* Override BootStrap */
.bg-dark{
    background-color: #2C2E36;
}