footer{
    width: 100%;
	position:absolute;
	bottom:0;
}

.footer-link{
    text-align: right;
}

.header-main-taxt{
    font-size: 14vw;
    text-align: center;
}

.nav-logo-text{
    list-style: none;
    display: flex;
}

.Cbg-dark{
    background-color: #42444B;
}


/* Font Selector */
.fm-electrolize{
    font-family: 'Electrolize', sans-serif;
}


/* Override BootStrap */
.bg-dark{
    background-color: #2C2E36;
}