/* footer and navber */
.footer-link{
    text-align: right;
}

.header-main-taxt{
    font-size: 14vw;
    text-align: center;
}

.nav-logo-text{
    list-style: none;
    display: flex;
}
.header{
    padding-top: 5vw;
    padding-bottom: 12vw;
    background-image: url("../img/headerBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* common */
.Cbg-dark{
    background-color: #42444B;
}

.Cbg-dark-tp{
    background-color: #42444bb6;
}

.tc-green{
    color: #75FF44;
}

/* card style */
.cd-title{
    color: rgb(206, 206, 206);
    text-decoration: underline;
    text-decoration-color: rgb(206, 206, 206);
}


/* Font Selector */
.fm-electrolize{
    font-family: 'Electrolize', sans-serif;
}


/* Override BootStrap */
.bg-dark{
    background-color: #2C2E36;
}